USE [master]
GO
/****** Object:  Database [DB_Uber]    Script Date: 19/02/2025 14:29:39 ******/
CREATE DATABASE [DB_Uber]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Uber', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Uber.mdf' , SIZE = 72896KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Uber_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Uber_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Uber].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Uber]
GO
/****** Object:  User [jonna]    Script Date: 19/02/2025 14:29:39 ******/
CREATE USER [jonna] FOR LOGIN [jonna] WITH DEFAULT_SCHEMA=[jonna]
GO
ALTER ROLE [db_owner] ADD MEMBER [jonna]
GO
/****** Object:  Schema [chat]    Script Date: 19/02/2025 14:29:39 ******/
CREATE SCHEMA [chat]
GO
/****** Object:  Schema [jonna]    Script Date: 19/02/2025 14:29:39 ******/
CREATE SCHEMA [jonna]
GO
/****** Object:  Schema [seguridad]    Script Date: 19/02/2025 14:29:39 ******/
CREATE SCHEMA [seguridad]
GO
/****** Object:  Table [chat].[tbDetail]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [chat].[tbDetail](
	[IdDetail] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[GroupId] [int] NULL,
	[Timestamp] [datetime] NULL,
	[IdMessage] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_tbDetail] PRIMARY KEY CLUSTERED 
(
	[IdDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [chat].[tbGroups]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [chat].[tbGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_tbGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [chat].[tbMessage]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [chat].[tbMessage](
	[IdMessage] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](650) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_tbMessage] PRIMARY KEY CLUSTERED 
(
	[IdMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [chat].[tbRoleChatAuthorization-PROXIMAMENTE]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [chat].[tbRoleChatAuthorization-PROXIMAMENTE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRolFirstPerson] [int] NULL,
	[IdRolSecondPerson] [int] NULL,
 CONSTRAINT [PK_tbRoleChatAuthorization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [chat].[tbTagUsuario]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [chat].[tbTagUsuario](
	[IdTag] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Nombre] [varchar](150) NULL,
	[EsEliminado] [bit] NULL,
 CONSTRAINT [PK_tbTagUsuario] PRIMARY KEY CLUSTERED 
(
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHistorialMantenimiento]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHistorialMantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdVehiculo] [int] NULL,
	[FechaMantenimiento] [date] NULL,
	[IdTipoMantenimiento] [int] NULL,
	[DescripcionMantenimiento] [text] NULL,
	[CantidadComprada] [int] NULL,
	[CostoUnitario] [decimal](10, 2) NULL,
	[CostoTotal] [decimal](10, 2) NULL,
	[CostoManoObra] [decimal](10, 2) NULL,
	[MiMano] [bit] NULL,
	[KilometrajeVehiculo] [int] NULL,
	[ProximaFechaMantenimiento] [date] NULL,
 CONSTRAINT [PK__Historia__DD1C4417FAD86A75] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbServicios]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbServicios](
	[IdServicios] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoServicio] [int] NOT NULL,
	[Imagenes] [nvarchar](4000) NULL,
	[Titulo] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](550) NULL,
	[FechaServicio] [date] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
	[MillajeVehiculo] [int] NULL,
	[ProximoMillaje] [bigint] NULL,
	[CostoTotal] [decimal](10, 2) NULL,
	[Marca] [nvarchar](250) NULL,
	[IdTipoMantenimiento] [int] NOT NULL,
	[ProximaFechaMantenimiento] [date] NULL,
	[EsRecurrente] [bit] NOT NULL,
	[IdUbicacionEnAutomovil] [int] NULL,
	[PrecioManoObra] [decimal](10, 2) NULL,
	[Confirmado] [bit] NOT NULL,
	[Viaticos] [nvarchar](250) NULL,
	[ManoObraPersonal] [int] NULL,
 CONSTRAINT [PK_tbServicio] PRIMARY KEY CLUSTERED 
(
	[IdServicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbServicios_tbTransacciones]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbServicios_tbTransacciones](
	[IdServicios] [int] NOT NULL,
	[IdTransaccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicios] ASC,
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoMantenimientos]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoMantenimientos](
	[IdTipoMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](350) NULL,
 CONSTRAINT [PK_tbTipoMantenimiento] PRIMARY KEY CLUSTERED 
(
	[IdTipoMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoServicios]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoServicios](
	[IdTipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](350) NULL,
	[MillajeCambioRecomendado] [varchar](50) NULL,
	[KilometrajeCambioRecomendado] [varchar](50) NULL,
	[Meses] [decimal](10, 2) NULL,
 CONSTRAINT [PK_tbTipoServicio] PRIMARY KEY CLUSTERED 
(
	[IdTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoTransaccion]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoTransaccion](
	[IdTipoTransaccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
 CONSTRAINT [PK_tbTipoTransaccion] PRIMARY KEY CLUSTERED 
(
	[IdTipoTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTransacciones]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTransacciones](
	[IdTransaccion] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](800) NULL,
	[TarifaDiaria] [int] NOT NULL,
	[TarifaAhorro] [int] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaTransaccion] [date] NOT NULL,
	[FechaTransaccionHasta] [date] NULL,
	[Confirmada] [bit] NOT NULL,
	[UltimaSuma] [int] NULL,
	[Comentario] [varchar](4000) NULL,
	[IdTipoTransaccion] [int] NOT NULL,
	[FechaCreacion] [date] NOT NULL,
 CONSTRAINT [PK_tbTransaccion] PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUbicacionEnAutomovil]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUbicacionEnAutomovil](
	[IdUbicacionEnAutomovil] [int] IDENTITY(1,1) NOT NULL,
	[Ubicacion] [nvarchar](250) NULL,
 CONSTRAINT [PK_tbUbicacionEnAutomovil] PRIMARY KEY CLUSTERED 
(
	[IdUbicacionEnAutomovil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVehiculo]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](255) NULL,
	[Modelo] [varchar](255) NULL,
	[Color] [varchar](100) NULL,
	[Anio] [int] NULL,
	[VIN] [varchar](17) NULL,
	[Placa] [varchar](20) NULL,
	[Kilometraje] [bigint] NULL,
	[Millaje] [bigint] NULL,
	[MillajeActual] [bigint] NULL,
	[TarifaDiaria] [int] NOT NULL,
	[TarifaAhorro] [int] NOT NULL,
	[TipoAceite] [varchar](50) NULL,
	[IdPropietario] [int] NULL,
	[IdConductor] [int] NULL,
	[Inhabilitado] [bit] NULL,
	[Imagen] [varchar](600) NULL,
 CONSTRAINT [PK__VehicleI__64D74CC8A61356E4] PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seguridad].[tbRol]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[tbRol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](530) NULL,
	[UsarCodigoMensaje] [bit] NULL,
 CONSTRAINT [PK_tbRol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seguridad].[tbUsuarios]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[tbUsuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](650) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Usuario] [nvarchar](350) NOT NULL,
	[Password] [nvarchar](350) NOT NULL,
	[Nombre] [nvarchar](350) NULL,
	[Identidad] [varchar](50) NULL,
	[Cuenta] [varchar](350) NULL,
	[TagMensajeria] [varchar](150) NULL,
	[Correo] [varchar](450) NULL,
	[Telefono] [varchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[EstaActivo] [bit] NULL,
 CONSTRAINT [PK_tbUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [chat].[tbDetail] ON 

INSERT [chat].[tbDetail] ([IdDetail], [SenderId], [ReceiverId], [GroupId], [Timestamp], [IdMessage], [IsRead]) VALUES (12, 2, 1, 0, CAST(N'2025-01-09T03:51:20.083' AS DateTime), 13, 0)
INSERT [chat].[tbDetail] ([IdDetail], [SenderId], [ReceiverId], [GroupId], [Timestamp], [IdMessage], [IsRead]) VALUES (13, 1, 2, 0, CAST(N'2025-01-09T04:07:45.170' AS DateTime), 14, 0)
INSERT [chat].[tbDetail] ([IdDetail], [SenderId], [ReceiverId], [GroupId], [Timestamp], [IdMessage], [IsRead]) VALUES (36, 2, 1, 0, CAST(N'2025-01-09T20:16:13.080' AS DateTime), 37, 0)
SET IDENTITY_INSERT [chat].[tbDetail] OFF
GO
SET IDENTITY_INSERT [chat].[tbMessage] ON 

INSERT [chat].[tbMessage] ([IdMessage], [Description], [IsRead], [Time]) VALUES (13, N'Isaac, hay que programar tu cambio de aceite. ¿Cuándo te viene bien la semana que viene?', 0, CAST(N'2025-01-09T03:51:20.083' AS DateTime))
INSERT [chat].[tbMessage] ([IdMessage], [Description], [IsRead], [Time]) VALUES (14, N'¿Martes por la mañana?', 0, CAST(N'2025-01-09T04:07:45.170' AS DateTime))
INSERT [chat].[tbMessage] ([IdMessage], [Description], [IsRead], [Time]) VALUES (37, N'Perfecto. ¿"Lubricantes Rápidos" de nuevo?', 0, CAST(N'2025-01-09T20:16:13.080' AS DateTime))
SET IDENTITY_INSERT [chat].[tbMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[tbHistorialMantenimiento] ON 

INSERT [dbo].[tbHistorialMantenimiento] ([IdMantenimiento], [IdVehiculo], [FechaMantenimiento], [IdTipoMantenimiento], [DescripcionMantenimiento], [CantidadComprada], [CostoUnitario], [CostoTotal], [CostoManoObra], [MiMano], [KilometrajeVehiculo], [ProximaFechaMantenimiento]) VALUES (1, 2, NULL, 2, N'Aceite de transmision', 2, CAST(840.00 AS Decimal(10, 2)), CAST(1680.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), NULL, NULL, NULL)
INSERT [dbo].[tbHistorialMantenimiento] ([IdMantenimiento], [IdVehiculo], [FechaMantenimiento], [IdTipoMantenimiento], [DescripcionMantenimiento], [CantidadComprada], [CostoUnitario], [CostoTotal], [CostoManoObra], [MiMano], [KilometrajeVehiculo], [ProximaFechaMantenimiento]) VALUES (2, 2, NULL, 2, N'Elevador de vidrio izquierdo trasero', 1, CAST(1000.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), NULL, NULL, NULL)
INSERT [dbo].[tbHistorialMantenimiento] ([IdMantenimiento], [IdVehiculo], [FechaMantenimiento], [IdTipoMantenimiento], [DescripcionMantenimiento], [CantidadComprada], [CostoUnitario], [CostoTotal], [CostoManoObra], [MiMano], [KilometrajeVehiculo], [ProximaFechaMantenimiento]) VALUES (3, 2, CAST(N'2024-06-19' AS Date), 2, N'Reparacion luz trasera derecha no enciende al frenar', 1, CAST(15.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbHistorialMantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[tbServicios] ON 

INSERT [dbo].[tbServicios] ([IdServicios], [IdTipoServicio], [Imagenes], [Titulo], [Descripcion], [FechaServicio], [IdVehiculo], [MillajeVehiculo], [ProximoMillaje], [CostoTotal], [Marca], [IdTipoMantenimiento], [ProximaFechaMantenimiento], [EsRecurrente], [IdUbicacionEnAutomovil], [PrecioManoObra], [Confirmado], [Viaticos], [ManoObraPersonal]) VALUES (4, 2, NULL, N'Cambio Aceite', NULL, CAST(N'2024-02-15' AS Date), 2, 135300, 138300, NULL, N'chevron', 1, NULL, 0, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[tbServicios] ([IdServicios], [IdTipoServicio], [Imagenes], [Titulo], [Descripcion], [FechaServicio], [IdVehiculo], [MillajeVehiculo], [ProximoMillaje], [CostoTotal], [Marca], [IdTipoMantenimiento], [ProximaFechaMantenimiento], [EsRecurrente], [IdUbicacionEnAutomovil], [PrecioManoObra], [Confirmado], [Viaticos], [ManoObraPersonal]) VALUES (8, 2, NULL, N'Cambio Aceite', NULL, CAST(N'2024-02-10' AS Date), 3, 123453, NULL, NULL, N'kendall', 1, NULL, 0, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[tbServicios] ([IdServicios], [IdTipoServicio], [Imagenes], [Titulo], [Descripcion], [FechaServicio], [IdVehiculo], [MillajeVehiculo], [ProximoMillaje], [CostoTotal], [Marca], [IdTipoMantenimiento], [ProximaFechaMantenimiento], [EsRecurrente], [IdUbicacionEnAutomovil], [PrecioManoObra], [Confirmado], [Viaticos], [ManoObraPersonal]) VALUES (9, 2, NULL, N'Cambio Aceite', NULL, CAST(N'2024-02-10' AS Date), 3, 142000, 145000, NULL, N'valvoline', 1, NULL, 0, 1, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbServicios] OFF
GO
INSERT [dbo].[tbServicios_tbTransacciones] ([IdServicios], [IdTransaccion]) VALUES (9, 1207)
INSERT [dbo].[tbServicios_tbTransacciones] ([IdServicios], [IdTransaccion]) VALUES (14, 131)
INSERT [dbo].[tbServicios_tbTransacciones] ([IdServicios], [IdTransaccion]) VALUES (15, 132)
GO
SET IDENTITY_INSERT [dbo].[tbTipoMantenimientos] ON 

INSERT [dbo].[tbTipoMantenimientos] ([IdTipoMantenimiento], [Nombre]) VALUES (1, N'Preventivo')
INSERT [dbo].[tbTipoMantenimientos] ([IdTipoMantenimiento], [Nombre]) VALUES (2, N'Correctivo')
SET IDENTITY_INSERT [dbo].[tbTipoMantenimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipoServicios] ON 

INSERT [dbo].[tbTipoServicios] ([IdTipoServicio], [Nombre], [MillajeCambioRecomendado], [KilometrajeCambioRecomendado], [Meses]) VALUES (1, N'Otros', N'', N'', NULL)
INSERT [dbo].[tbTipoServicios] ([IdTipoServicio], [Nombre], [MillajeCambioRecomendado], [KilometrajeCambioRecomendado], [Meses]) VALUES (2, N'Cambio de aceite', N'3000', N'5000', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[tbTipoServicios] ([IdTipoServicio], [Nombre], [MillajeCambioRecomendado], [KilometrajeCambioRecomendado], [Meses]) VALUES (3, N'Reemplazo de líquidos transmisión', N'', N'80000', NULL)
SET IDENTITY_INSERT [dbo].[tbTipoServicios] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipoTransaccion] ON 

INSERT [dbo].[tbTipoTransaccion] ([IdTipoTransaccion], [Nombre]) VALUES (1, N'CuotaDiaria')
INSERT [dbo].[tbTipoTransaccion] ([IdTipoTransaccion], [Nombre]) VALUES (2, N'Servicio')
SET IDENTITY_INSERT [dbo].[tbTipoTransaccion] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTransacciones] ON 

INSERT [dbo].[tbTransacciones] ([IdTransaccion], [Imagen], [TarifaDiaria], [TarifaAhorro], [IdVehiculo], [IdUsuario], [FechaTransaccion], [FechaTransaccionHasta], [Confirmada], [UltimaSuma], [Comentario], [IdTipoTransaccion], [FechaCreacion]) VALUES (1, N'img/servicios/s-l640.jpg', 400, 50, 2, 4, CAST(N'2024-02-07' AS Date), CAST(N'2024-02-07' AS Date), 1, NULL, NULL, 1, CAST(N'2024-02-07' AS Date))
INSERT [dbo].[tbTransacciones] ([IdTransaccion], [Imagen], [TarifaDiaria], [TarifaAhorro], [IdVehiculo], [IdUsuario], [FechaTransaccion], [FechaTransaccionHasta], [Confirmada], [UltimaSuma], [Comentario], [IdTipoTransaccion], [FechaCreacion]) VALUES (2, N'img/servicios/s-l640.jpg', 400, 50, 2, 4, CAST(N'2024-02-08' AS Date), CAST(N'2024-02-08' AS Date), 1, NULL, NULL, 1, CAST(N'2024-02-08' AS Date))
INSERT [dbo].[tbTransacciones] ([IdTransaccion], [Imagen], [TarifaDiaria], [TarifaAhorro], [IdVehiculo], [IdUsuario], [FechaTransaccion], [FechaTransaccionHasta], [Confirmada], [UltimaSuma], [Comentario], [IdTipoTransaccion], [FechaCreacion]) VALUES (3, N'img/servicios/s-l640.jpg', 400, 50, 2, 4, CAST(N'2024-02-09' AS Date), CAST(N'2024-02-09' AS Date), 1, NULL, NULL, 1, CAST(N'2024-02-09' AS Date))
GO
SET IDENTITY_INSERT [dbo].[tbTransacciones] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUbicacionEnAutomovil] ON 

INSERT [dbo].[tbUbicacionEnAutomovil] ([IdUbicacionEnAutomovil], [Ubicacion]) VALUES (1, N'No exacta')
INSERT [dbo].[tbUbicacionEnAutomovil] ([IdUbicacionEnAutomovil], [Ubicacion]) VALUES (2, N'frontal izquierda')
INSERT [dbo].[tbUbicacionEnAutomovil] ([IdUbicacionEnAutomovil], [Ubicacion]) VALUES (3, N'frontal derecha')
SET IDENTITY_INSERT [dbo].[tbUbicacionEnAutomovil] OFF
GO
SET IDENTITY_INSERT [dbo].[tbVehiculo] ON 

INSERT [dbo].[tbVehiculo] ([IdVehiculo], [Marca], [Modelo], [Color], [Anio], [VIN], [Placa], [Kilometraje], [Millaje], [MillajeActual], [TarifaDiaria], [TarifaAhorro], [TipoAceite], [IdPropietario], [IdConductor], [Inhabilitado], [Imagen]) VALUES (2, N'hyundai', N'elantra', N'rojo', 2010, NULL, N'HBQ7340', 1, 130000, 132000, 400, 50, NULL, 1, 12, 0, N'IMG-20241217-WA0003.jpg')
INSERT [dbo].[tbVehiculo] ([IdVehiculo], [Marca], [Modelo], [Color], [Anio], [VIN], [Placa], [Kilometraje], [Millaje], [MillajeActual], [TarifaDiaria], [TarifaAhorro], [TipoAceite], [IdPropietario], [IdConductor], [Inhabilitado], [Imagen]) VALUES (3, N'hyundai', N'elantra', N'plata', 2010, NULL, N'HAZ5311', 1, 143000, NULL, 400, 50, NULL, 3, 11, 0, N'IMG-20241217-WA0002.jpg')
INSERT [dbo].[tbVehiculo] ([IdVehiculo], [Marca], [Modelo], [Color], [Anio], [VIN], [Placa], [Kilometraje], [Millaje], [MillajeActual], [TarifaDiaria], [TarifaAhorro], [TipoAceite], [IdPropietario], [IdConductor], [Inhabilitado], [Imagen]) VALUES (4, N'hyundai', N'elantra', N'Verde', 2010, NULL, N'HAR8954', 1, 92000, NULL, 450, 0, NULL, 2, 6, 0, N'IMG-20241217-WA0004.jpg')
SET IDENTITY_INSERT [dbo].[tbVehiculo] OFF
GO
SET IDENTITY_INSERT [seguridad].[tbRol] ON 

INSERT [seguridad].[tbRol] ([IdRol], [Nombre], [UsarCodigoMensaje]) VALUES (1, N'propietario', NULL)
INSERT [seguridad].[tbRol] ([IdRol], [Nombre], [UsarCodigoMensaje]) VALUES (2, N'conductor', NULL)
SET IDENTITY_INSERT [seguridad].[tbRol] OFF
GO
SET IDENTITY_INSERT [seguridad].[tbUsuarios] ON 

INSERT [seguridad].[tbUsuarios] ([IdUsuario], [Imagen], [IdRol], [Usuario], [Password], [Nombre], [Identidad], [Cuenta], [TagMensajeria], [Correo], [Telefono], [Ciudad], [EstaActivo]) VALUES (1, N'img\profile\profile-1.jpeg', 1, N'jonna', N'admin', N'Jonatan abimelec fajardo hernandez', N'', N'747763151', N'Administrador', N'jonatan.fajardo@example.com', N'+504 9694-236789', N'San Pedro Sula, Cortés', 1)
INSERT [seguridad].[tbUsuarios] ([IdUsuario], [Imagen], [IdRol], [Usuario], [Password], [Nombre], [Identidad], [Cuenta], [TagMensajeria], [Correo], [Telefono], [Ciudad], [EstaActivo]) VALUES (2, N'img\profile\profile-2.jpeg', 1, N'isaac', N'admin', N'isaac elimelec', NULL, NULL, N'Administrador', N'isaac.elimelec@example.com', N'+504 9572-879034', N'San Pedro Sula, Cortés', 1)
INSERT [seguridad].[tbUsuarios] ([IdUsuario], [Imagen], [IdRol], [Usuario], [Password], [Nombre], [Identidad], [Cuenta], [TagMensajeria], [Correo], [Telefono], [Ciudad], [EstaActivo]) VALUES (3, N'img\profile\profile-3.jpeg', 1, N'nayeli', N'user', N'nayeli nicolle guillen ramirez', NULL, NULL, N'Administrador', N'nayeli.guillen@example.com', N'+504 9983-458791', N'San Pedro Sula, Cortés', 1)
SET IDENTITY_INSERT [seguridad].[tbUsuarios] OFF
GO
ALTER TABLE [chat].[tbDetail] ADD  CONSTRAINT [DF_tbDetail_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [chat].[tbDetail] ADD  CONSTRAINT [DF_tbDetail_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [chat].[tbGroups] ADD  CONSTRAINT [DF_tbGroups_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [chat].[tbMessage] ADD  CONSTRAINT [DF_tbMessage_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [chat].[tbTagUsuario] ADD  CONSTRAINT [DF_tbTagUsuario_EsEliminado]  DEFAULT ((0)) FOR [EsEliminado]
GO
ALTER TABLE [dbo].[tbHistorialMantenimiento] ADD  CONSTRAINT [DF_tbHistorialMantenimiento_CostoUnitario]  DEFAULT ((0)) FOR [CostoUnitario]
GO
ALTER TABLE [dbo].[tbHistorialMantenimiento] ADD  CONSTRAINT [DF_tbHistorialMantenimiento_CostoTotal]  DEFAULT ((0)) FOR [CostoTotal]
GO
ALTER TABLE [dbo].[tbHistorialMantenimiento] ADD  CONSTRAINT [DF_tbHistorialMantenimiento_CostoManoObra]  DEFAULT ((0)) FOR [CostoManoObra]
GO
ALTER TABLE [dbo].[tbHistorialMantenimiento] ADD  CONSTRAINT [DF_tbHistorialMantenimiento_MiMano]  DEFAULT ((0)) FOR [MiMano]
GO
ALTER TABLE [dbo].[tbServicios] ADD  CONSTRAINT [DF_tbServicios_CostoUnitario]  DEFAULT ((0)) FOR [CostoTotal]
GO
ALTER TABLE [dbo].[tbServicios] ADD  CONSTRAINT [DF_tbServicios_EsRecurrente]  DEFAULT ((0)) FOR [EsRecurrente]
GO
ALTER TABLE [dbo].[tbServicios] ADD  CONSTRAINT [DF_tbServicios_IdUbicacionEnAutomovil]  DEFAULT ((1)) FOR [IdUbicacionEnAutomovil]
GO
ALTER TABLE [dbo].[tbServicios] ADD  CONSTRAINT [DF_tbServicios_Confirmado]  DEFAULT ((0)) FOR [Confirmado]
GO
ALTER TABLE [dbo].[tbServicios] ADD  CONSTRAINT [DF_tbServicios_MiMano]  DEFAULT ((0)) FOR [ManoObraPersonal]
GO
ALTER TABLE [dbo].[tbTransacciones] ADD  CONSTRAINT [DF_tbTransacciones_TarifaDiaria]  DEFAULT ((0)) FOR [TarifaDiaria]
GO
ALTER TABLE [dbo].[tbTransacciones] ADD  CONSTRAINT [DF_tbTransacciones_TarifaAhorro]  DEFAULT ((0)) FOR [TarifaAhorro]
GO
ALTER TABLE [dbo].[tbTransacciones] ADD  CONSTRAINT [DF_tbTransaccion_Confirmada]  DEFAULT ((0)) FOR [Confirmada]
GO
ALTER TABLE [dbo].[tbTransacciones] ADD  CONSTRAINT [DF_tbTransacciones_UltimaSuma]  DEFAULT ((0)) FOR [UltimaSuma]
GO
ALTER TABLE [dbo].[tbVehiculo] ADD  CONSTRAINT [DF_tbVehiculo_Inhabilitado]  DEFAULT ((0)) FOR [Inhabilitado]
GO
ALTER TABLE [seguridad].[tbUsuarios] ADD  CONSTRAINT [DF_tbUsuarios_EstaActivo]  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [chat].[tbDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbDetail_tbMessage] FOREIGN KEY([IdMessage])
REFERENCES [chat].[tbMessage] ([IdMessage])
GO
ALTER TABLE [chat].[tbDetail] CHECK CONSTRAINT [FK_tbDetail_tbMessage]
GO
ALTER TABLE [chat].[tbDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbDetail_tbUsuarios] FOREIGN KEY([SenderId])
REFERENCES [seguridad].[tbUsuarios] ([IdUsuario])
GO
ALTER TABLE [chat].[tbDetail] CHECK CONSTRAINT [FK_tbDetail_tbUsuarios]
GO
ALTER TABLE [chat].[tbDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbDetail_tbUsuarios1] FOREIGN KEY([ReceiverId])
REFERENCES [seguridad].[tbUsuarios] ([IdUsuario])
GO
ALTER TABLE [chat].[tbDetail] CHECK CONSTRAINT [FK_tbDetail_tbUsuarios1]
GO
ALTER TABLE [dbo].[tbServicios]  WITH CHECK ADD  CONSTRAINT [FK_tbServicios_tbInformacionVehiculo] FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[tbVehiculo] ([IdVehiculo])
GO
ALTER TABLE [dbo].[tbServicios] CHECK CONSTRAINT [FK_tbServicios_tbInformacionVehiculo]
GO
ALTER TABLE [dbo].[tbServicios]  WITH CHECK ADD  CONSTRAINT [FK_tbServicios_tbTipoMantenimientos] FOREIGN KEY([IdTipoMantenimiento])
REFERENCES [dbo].[tbTipoMantenimientos] ([IdTipoMantenimiento])
GO
ALTER TABLE [dbo].[tbServicios] CHECK CONSTRAINT [FK_tbServicios_tbTipoMantenimientos]
GO
ALTER TABLE [dbo].[tbServicios]  WITH CHECK ADD  CONSTRAINT [FK_tbServicios_tbTipoServicio] FOREIGN KEY([IdTipoServicio])
REFERENCES [dbo].[tbTipoServicios] ([IdTipoServicio])
GO
ALTER TABLE [dbo].[tbServicios] CHECK CONSTRAINT [FK_tbServicios_tbTipoServicio]
GO
ALTER TABLE [dbo].[tbServicios_tbTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__tbTipoSer__IdSer__76969D2E] FOREIGN KEY([IdServicios])
REFERENCES [dbo].[tbServicios] ([IdServicios])
GO
ALTER TABLE [dbo].[tbServicios_tbTransacciones] CHECK CONSTRAINT [FK__tbTipoSer__IdSer__76969D2E]
GO
ALTER TABLE [dbo].[tbServicios_tbTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__tbTipoSer__IdTra__778AC167] FOREIGN KEY([IdTransaccion])
REFERENCES [dbo].[tbTransacciones] ([IdTransaccion])
GO
ALTER TABLE [dbo].[tbServicios_tbTransacciones] CHECK CONSTRAINT [FK__tbTipoSer__IdTra__778AC167]
GO
ALTER TABLE [dbo].[tbVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_tbVehiculo_tbUsuarios] FOREIGN KEY([IdConductor])
REFERENCES [seguridad].[tbUsuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[tbVehiculo] CHECK CONSTRAINT [FK_tbVehiculo_tbUsuarios]
GO
ALTER TABLE [seguridad].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbRol] FOREIGN KEY([IdRol])
REFERENCES [seguridad].[tbRol] ([IdRol])
GO
ALTER TABLE [seguridad].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbRol]
GO
/****** Object:  StoredProcedure [dbo].[PR_Chat_ObtenerMensajesUsuario]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PR_Chat_ObtenerMensajesUsuario]
@IdUsuarioOne int,
@IdUsuariotwo int
as 
begin

	SELECT
    [IdDetail],
    [SenderId],
    [ReceiverId],
    [GroupId],
    [Timestamp],
    msj.[IdMessage],
    msj.Description,
    msj.IsRead,
    msj.Time
FROM
    chat.tbDetail AS dt
INNER JOIN
    chat.tbMessage AS msj ON dt.IdMessage = msj.IdMessage
WHERE
    dt.SenderId = @IdUsuarioOne AND dt.ReceiverId = @IdUsuariotwo

UNION ALL

SELECT
    [IdDetail],
    [SenderId],
    [ReceiverId],
    [GroupId],
    [Timestamp],
    msj.[IdMessage],
    msj.Description,
    msj.IsRead,
    msj.Time
FROM
    chat.tbDetail AS dt
INNER JOIN
    chat.tbMessage AS msj ON dt.IdMessage = msj.IdMessage
WHERE
    dt.SenderId = @IdUsuariotwo AND dt.ReceiverId = @IdUsuarioOne

ORDER BY
    msj.Time DESC;
	
end
GO
/****** Object:  StoredProcedure [dbo].[PR_Chat_ObtenerUltimoMensajePorUsuario]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE PROCEDURE PR_Chat_ObtenerUltimosMensajesPorUsuario
CREATE procedure [dbo].[PR_Chat_ObtenerUltimoMensajePorUsuario]  
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener los últimos mensajes de cada usuario que ha hablado con el usuario dado
    WITH UltimosMensajes AS (
        SELECT
            d.ReceiverId AS OtroUsuario,
            ROW_NUMBER() OVER (PARTITION BY d.ReceiverId ORDER BY d.Timestamp DESC) AS Fila,
            us.IdUsuario,
            us.Imagen,
            us.Usuario,
            us.Nombre,
			us.TagMensajeria,
			us.Correo,
			us.Telefono,
			us.Ciudad,
            d.IdDetail,
            d.SenderId,
            d.ReceiverId,
            d.GroupId,
            d.Timestamp,
            m.IdMessage,
            m.Description,
            m.IsRead,
            m.Time
        FROM
            chat.tbDetail d
        JOIN
            chat.tbMessage m ON d.IdMessage = m.IdMessage
        JOIN
            seguridad.tbUsuarios us ON us.IdUsuario = d.ReceiverId
        WHERE
            d.SenderId = @UserId OR d.ReceiverId = @UserId
    )
    SELECT
        IdUsuario,
        Imagen,
        Usuario,
        Nombre,
		TagMensajeria,
		Correo,
		Telefono,
		Ciudad,
        IdDetail,
        SenderId,
        ReceiverId,
        GroupId,
        Timestamp,
        IdMessage,
        Description,
        IsRead,
        Time
    FROM
        UltimosMensajes
    WHERE
        Fila = 1
    ORDER BY
        Timestamp DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_CierreDiario]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_CierreDiario] 
AS
BEGIN
-- Insertar una nueva transacción para cada vehículo habilitado que no tenga una transacción para el día actual

INSERT INTO tbTransacciones ( TarifaDiaria, TarifaAhorro, IdVehiculo, IdUsuario, FechaTransaccion, Confirmada, UltimaSuma, IdTipoTransaccion, FechaCreacion)
SELECT 
    0, 
    0, 
    v.IdVehiculo,
	(SELECT TOP 1 IdUsuario 
            FROM tbTransacciones t 
            WHERE t.IdVehiculo = v.IdVehiculo),
    GETDATE(), 
    0, 
    ISNULL((SELECT TOP 1 UltimaSuma 
            FROM tbTransacciones t 
            WHERE t.IdVehiculo = v.IdVehiculo
            AND CAST(t.FechaTransaccion AS DATE) = CAST(DATEADD(day, -1, GETDATE()) AS DATE)
            ORDER BY t.FechaTransaccion DESC), 0) + (v.TarifaDiaria + v.TarifaAhorro),
	1,
	GETDATE()
FROM 
    tbvehiculo v
WHERE 
    v.Inhabilitado = 0
    AND NOT EXISTS (
        SELECT 1
        FROM tbTransacciones t
        WHERE t.IdVehiculo = v.IdVehiculo
        AND CAST(t.FechaTransaccion AS DATE) = CAST(GETDATE() AS DATE)
    );

END
GO
/****** Object:  StoredProcedure [dbo].[PR_ConfirmarTransaccion]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PR_ConfirmarTransaccion]
as begin

BEGIN TRY
    BEGIN TRANSACTION;

    DECLARE @IdTransaccion INT = '';

    -- Verificar si la transacción existe y no ha sido confirmada
    IF EXISTS (SELECT 1 FROM tbTransacciones WHERE IdTransaccion = @IdTransaccion AND Confirmada = 0)
    BEGIN
        -- Actualizar el estado de la transacción a confirmada
        UPDATE tbTransacciones
        SET Confirmada = 1
        WHERE IdTransaccion = @IdTransaccion;

        COMMIT TRANSACTION;
        PRINT 'La transacción ha sido confirmada exitosamente.';
    END
    ELSE
    BEGIN
        ROLLBACK TRANSACTION;
        PRINT 'La transacción no existe o ya ha sido confirmada previamente.';
    END
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;

    PRINT 'Se produjo un error al intentar confirmar la transacción.';
END CATCH;
end
GO
/****** Object:  StoredProcedure [dbo].[PR_InsertarDatosTransaccion]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_InsertarDatosTransaccion]
    @Imagen VARCHAR(4000),
    @TarifaDiaria INT,
    @TarifaAhorro INT,
    @IdVehiculo INT,
    @IdUsuario INT,
    --@FechaTransaccion DATE,
    @UltimaSuma INT
AS
BEGIN
    INSERT INTO tbTransacciones(Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, IdUsuario, FechaTransaccion, Confirmada, UltimaSuma)
    VALUES (@Imagen, @TarifaDiaria, @TarifaAhorro, @IdVehiculo, @IdUsuario, GETDATE(), 0, @UltimaSuma);
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_InsertarUnServicios]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_InsertarUnServicios]
    @IdTipoServicio INT,
    @Imagenes NVARCHAR(4000),
    @Titulo NVARCHAR(250),
    @Descripcion NVARCHAR(550),
    @FechaServicio DATE,
    --@CantidadComprada INT,
    --@CostoUnitario DECIMAL(10, 2),
    @CostoTotal DECIMAL(10, 2),
    @Marca NVARCHAR(250),
    @IdTipoMantenimiento INT,
    --@KilometrajeVehiculo INT,
    @MillajeVehiculo INT,
    @ProximaFechaMantenimiento DATE,
    @IdVehiculo INT,
    @IdUsuario INT,
    @EsRecurrente BIT,
    --@ProximoKilometraje BIGINT,
    @ProximoMillaje BIGINT,
    @IdUbicacionEnAutomovil INT,
    @PrecioManoObra DECIMAL(10, 2),
    @Confirmado BIT,
    @Viaticos NVARCHAR(250),
    @ManoObraPersonal int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Iniciar una transacción
        BEGIN TRANSACTION;

        DECLARE @IdServicios INT;
        DECLARE @IdTransaccion INT;

        -- Insertar en tbServicios
        INSERT INTO tbServicios (
            IdTipoServicio, Imagenes, Titulo, Descripcion, FechaServicio, 
            CostoTotal, Marca, IdTipoMantenimiento, 
            MillajeVehiculo, ProximaFechaMantenimiento, IdVehiculo, 
            EsRecurrente, ProximoMillaje, IdUbicacionEnAutomovil, 
            PrecioManoObra, Confirmado, Viaticos, ManoObraPersonal
        ) VALUES (
            @IdTipoServicio, @Imagenes, @Titulo, @Descripcion, @FechaServicio, 
            @CostoTotal, @Marca, @IdTipoMantenimiento, 
            @MillajeVehiculo, @ProximaFechaMantenimiento, @IdVehiculo, 
            @EsRecurrente, @ProximoMillaje, @IdUbicacionEnAutomovil, 
            @PrecioManoObra, @Confirmado, @Viaticos, @ManoObraPersonal
        );

        -- Obtener el IdServicios recién insertado
        SET @IdServicios = SCOPE_IDENTITY();

        -- Insertar en tbTransacciones
        INSERT INTO tbTransacciones (
            Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, IdUsuario,
            FechaTransaccion, Confirmada, UltimaSuma, IdTipoTransaccion, FechaCreacion
        ) VALUES (
            @Imagenes, -@CostoTotal, 0, @IdVehiculo, @IdUsuario, @FechaServicio, 0, 0, 2, GETDATE()
        );

        -- Obtener el IdTransaccion recién insertado
        SET @IdTransaccion = SCOPE_IDENTITY();

        -- Insertar en tbTipoServicios_tbTransacciones
        INSERT INTO tbServicios_tbTransacciones (IdServicios, IdTransaccion)
        VALUES (@IdServicios, @IdTransaccion);

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Si hay un error, deshacer la transacción
        ROLLBACK TRANSACTION;

        -- Rethrow la excepción
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_InsertMessageWithDetail]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_InsertMessageWithDetail]
    @Description NVARCHAR(650),
    @IsRead BIT,
    @SenderId INT,
    @ReceiverId INT,
    @GroupId INT,
    @Time DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewMessageId INT;

    -- Inserción en tbMessage
    INSERT INTO chat.tbMessage (Description, IsRead, Time)
    VALUES (@Description, @IsRead, @Time);

    -- Obtener el ID del mensaje recién insertado
    SET @NewMessageId = SCOPE_IDENTITY();

    -- Inserción en tbDetail
    INSERT INTO chat.tbDetail (SenderId, ReceiverId, GroupId, Timestamp, IdMessage, IsRead)
    VALUES (@SenderId, @ReceiverId, @GroupId, @Time, @NewMessageId, @IsRead);

    -- Confirmación
    SELECT @NewMessageId AS IdMessage;
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerServicios]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ObtenerServicios]
AS
BEGIN
    SELECT 
        s.IdServicios,
        s.IdTipoServicio,
        ts.Nombre AS TipoServicio,
        s.Imagenes,
        s.Titulo,
        s.Descripcion,
        s.FechaServicio,
        s.CostoTotal,
        s.Marca,
        s.IdTipoMantenimiento,
		tm.Nombre,
        s.MillajeVehiculo,
        s.ProximaFechaMantenimiento,
        s.IdVehiculo,
        v.Marca AS VehiculoMarca,
        v.Modelo AS VehiculoModelo,
        v.Anio AS VehiculoAnio,
        s.EsRecurrente,
        s.ProximoMillaje,
        s.IdUbicacionEnAutomovil,
        ua.Ubicacion AS UbicacionEnAutomovil,
        s.PrecioManoObra,
        s.Confirmado,
        s.Viaticos,
        s.ManoObraPersonal
    FROM 
        tbServicios s
    INNER JOIN 
        tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
    INNER JOIN 
        tbVehiculo v ON s.IdVehiculo = v.IdVehiculo
    INNER JOIN 
        tbUbicacionEnAutomovil ua ON s.IdUbicacionEnAutomovil = ua.IdUbicacionEnAutomovil
	INNER JOIN 
		tbTipoMantenimientos tm ON s.IdTipoMantenimiento = tm.IdTipoMantenimiento;
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerServiciosPorVehiculo]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ObtenerServiciosPorVehiculo]
 @IdVehiculo int
AS
BEGIN
    SELECT 
        s.IdServicios,
        s.IdTipoServicio,
        ts.Nombre AS TipoServicio,
        s.Imagenes,
        s.Titulo,
        s.Descripcion,
        s.FechaServicio,
        s.CostoTotal,
        s.Marca,
        s.IdTipoMantenimiento,
		tm.Nombre AS TipoMantenimiento,
        s.MillajeVehiculo,
        s.ProximaFechaMantenimiento,
        s.IdVehiculo,
        v.Marca AS VehiculoMarca,
        v.Modelo AS VehiculoModelo,
        v.Anio AS VehiculoAnio,
        s.EsRecurrente,
        s.ProximoMillaje,
        s.IdUbicacionEnAutomovil,
        ua.Ubicacion AS UbicacionEnAutomovil,
        s.PrecioManoObra,
        s.Confirmado,
        s.Viaticos,
        s.ManoObraPersonal
    FROM 
        tbServicios s
    INNER JOIN 
        tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
    INNER JOIN 
        tbVehiculo v ON s.IdVehiculo = v.IdVehiculo
    INNER JOIN 
        tbUbicacionEnAutomovil ua ON s.IdUbicacionEnAutomovil = ua.IdUbicacionEnAutomovil
	INNER JOIN 
		tbTipoMantenimientos tm ON s.IdTipoMantenimiento = tm.IdTipoMantenimiento
	WHERE 
		@IdVehiculo = s.IdVehiculo
	ORDER BY 
        s.FechaServicio DESC
END;


GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerServiciosProximoCambio]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PR_ObtenerServiciosProximoCambio]
as
begin


SELECT 
    Titulo, 
    vehiculo.MillajeActual, 
    ProximoMillaje,
    (ProximoMillaje - vehiculo.MillajeActual) AS DiferenciaMillas
FROM 
    tbServicios as servicio
	INNER JOIN tbVehiculo vehiculo
	ON servicio.IdVehiculo = vehiculo.IdVehiculo
ORDER BY 
    DiferenciaMillas ASC;


	end
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerTransacciones]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ObtenerTransacciones]
AS
BEGIN
    SELECT 
        t.Imagen,
        t.UltimaSuma,
		v.IdVehiculo,
		v.Anio,
		v.Placa,
        u.Nombre,
		u.Imagen as ImagenUsuario,
        t.TarifaDiaria,
        t.TarifaAhorro,
        t.FechaTransaccion,
        t.Comentario,
		t.IdTipoTransaccion,
		tt.Nombre as NombreTipoTransaccion,
		t.Confirmada,
		t.FechaCreacion
    FROM 
        tbTransacciones t
    INNER JOIN 
        tbVehiculo v ON t.IdVehiculo = v.IdVehiculo
    INNER JOIN 
        seguridad.tbUsuarios u ON t.IdUsuario = u.IdUsuario
	INNER JOIN
		tbTipoTransaccion tt ON t.IdTipoTransaccion = tt.IdTipoTransaccion
    ORDER BY 
        t.FechaTransaccion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerTransaccionesPorVehiculo]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_ObtenerTransaccionesPorVehiculo]
 @IdVehiculo INT
AS
BEGIN
    SELECT 
        t.Imagen,
        t.UltimaSuma,
        u.Nombre Conductor,
        t.TarifaDiaria,
        t.TarifaAhorro,
        t.FechaTransaccion,
        t.FechaTransaccionHasta,
        t.Comentario
    FROM 
        tbTransacciones t
    INNER JOIN 
        tbVehiculo v ON t.IdVehiculo = v.IdVehiculo
    INNER JOIN 
        seguridad.tbUsuarios u ON t.IdUsuario = u.IdUsuario
	WHERE 
		v.IdVehiculo = @IdVehiculo
    ORDER BY 
        t.FechaTransaccion DESC
	
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerVehiculoInformacionDashboard]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ObtenerVehiculoInformacionDashboard]
AS
BEGIN
    -- CTE para Aceite
    WITH CTE_Aceite AS (
        SELECT 
            s.IdVehiculo,
            v.Imagen,
            v.Placa,
			v.Anio,
			v.Marca,
            s.Marca AS MarcaAceite,
            s.FechaServicio,
            MAX(((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado)) AS PorcentajeDesgasteAceite,
            MAX(s.FechaServicio) OVER (PARTITION BY s.IdVehiculo) AS MaxFechaServicio
        FROM tbServicios s
        INNER JOIN [tbServicios_tbTransacciones] st ON st.IdServicios = s.IdServicios
        INNER JOIN tbTransacciones t ON t.IdTransaccion = st.IdTransaccion
        INNER JOIN tbVehiculo v ON v.IdVehiculo = s.IdVehiculo
        INNER JOIN tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
        WHERE s.IdTipoServicio = 2
        GROUP BY s.IdVehiculo, v.Imagen, v.Placa, v.Marca, v.Anio, s.Marca, s.FechaServicio
    ),
    CTE_Llantas AS (
        SELECT 
            s.IdVehiculo,
            s.FechaServicio,
            MAX(CASE WHEN s.IdUbicacionEnAutomovil = 2 THEN 
                ((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado) 
            END) AS PorcentajeDesgasteLlanta1,
            MAX(CASE WHEN s.IdUbicacionEnAutomovil = 3 THEN 
                ((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado) 
            END) AS PorcentajeDesgasteLlanta2,
            MAX(CASE WHEN s.IdUbicacionEnAutomovil = 4 THEN 
                ((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado) 
            END) AS PorcentajeDesgasteLlanta3,
            MAX(CASE WHEN s.IdUbicacionEnAutomovil = 5 THEN 
                ((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado) 
            END) AS PorcentajeDesgasteLlanta4,
            MAX(s.FechaServicio) OVER (PARTITION BY s.IdVehiculo) AS MaxFechaServicio
        FROM tbServicios s
        INNER JOIN [tbServicios_tbTransacciones] st ON st.IdServicios = s.IdServicios
        INNER JOIN tbTransacciones t ON t.IdTransaccion = st.IdTransaccion
        INNER JOIN tbVehiculo v ON v.IdVehiculo = s.IdVehiculo
        INNER JOIN tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
        WHERE s.IdTipoServicio = 7
        GROUP BY s.IdVehiculo, s.FechaServicio
    ),
    CTE_FiltroMotor AS (
        SELECT 
            s.IdVehiculo,
            s.FechaServicio,
            MAX(((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado)) AS PorcentajeDesgasteFiltroMotor,
            MAX(s.FechaServicio) OVER (PARTITION BY s.IdVehiculo) AS MaxFechaServicio
        FROM tbServicios s
        INNER JOIN [tbServicios_tbTransacciones] st ON st.IdServicios = s.IdServicios
        INNER JOIN tbTransacciones t ON t.IdTransaccion = st.IdTransaccion
        INNER JOIN tbVehiculo v ON v.IdVehiculo = s.IdVehiculo
        INNER JOIN tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
        WHERE s.IdTipoServicio = 6
        GROUP BY s.IdVehiculo, s.FechaServicio
    ),
    CTE_FiltroMotorCabina AS (
        SELECT 
            s.IdVehiculo,
            s.FechaServicio,
            MAX(((ts.MillajeCambioRecomendado - (s.ProximoMillaje - v.Millaje)) * 100 / ts.MillajeCambioRecomendado)) AS PorcentajeDesgasteFiltroCabina,
            MAX(s.FechaServicio) OVER (PARTITION BY s.IdVehiculo) AS MaxFechaServicio
        FROM tbServicios s
        INNER JOIN [tbServicios_tbTransacciones] st ON st.IdServicios = s.IdServicios
        INNER JOIN tbTransacciones t ON t.IdTransaccion = st.IdTransaccion
        INNER JOIN tbVehiculo v ON v.IdVehiculo = s.IdVehiculo
        INNER JOIN tbTipoServicios ts ON s.IdTipoServicio = ts.IdTipoServicio
        WHERE s.IdTipoServicio = 5
        GROUP BY s.IdVehiculo, s.FechaServicio
    )
    SELECT 
        a.IdVehiculo,
        a.Imagen,
        a.Placa,
        a.Marca,
		a.Anio,
		a.MarcaAceite,
		CASE WHEN a.PorcentajeDesgasteAceite IS NULL THEN 0 ELSE a.PorcentajeDesgasteAceite END AS PorcentajeDesgasteAceite,
		CASE WHEN l.PorcentajeDesgasteLlanta1 IS NULL THEN 0 ELSE l.PorcentajeDesgasteLlanta1 END AS PorcentajeDesgasteLlanta1,
		CASE WHEN l.PorcentajeDesgasteLlanta2 IS NULL THEN 0 ELSE l.PorcentajeDesgasteLlanta2 END AS PorcentajeDesgasteLlanta2,
		CASE WHEN l.PorcentajeDesgasteLlanta3 IS NULL THEN 0 ELSE l.PorcentajeDesgasteLlanta2 END AS PorcentajeDesgasteLlanta3,
		CASE WHEN l.PorcentajeDesgasteLlanta4 IS NULL THEN 0 ELSE l.PorcentajeDesgasteLlanta2 END AS PorcentajeDesgasteLlanta4,
		CASE WHEN f.PorcentajeDesgasteFiltroMotor IS NULL THEN 0 ELSE f.PorcentajeDesgasteFiltroMotor END AS PorcentajeDesgasteFiltroMotor,
		CASE WHEN c.PorcentajeDesgasteFiltroCabina IS NULL THEN 0 ELSE c.PorcentajeDesgasteFiltroCabina END AS PorcentajeDesgasteFiltroCabina
    FROM CTE_Aceite a
    LEFT JOIN CTE_Llantas l ON l.IdVehiculo = a.IdVehiculo AND l.MaxFechaServicio = l.FechaServicio
    LEFT JOIN CTE_FiltroMotor f ON f.IdVehiculo = a.IdVehiculo AND f.MaxFechaServicio = f.FechaServicio
    LEFT JOIN CTE_FiltroMotorCabina c ON c.IdVehiculo = a.IdVehiculo AND c.MaxFechaServicio = c.FechaServicio
    WHERE a.MaxFechaServicio = a.FechaServicio
END
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerVehiculos]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ObtenerVehiculos]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT IdVehiculo, v.Imagen, Marca, Modelo, Anio, VIN, Placa, Kilometraje, Millaje, Color, TarifaDiaria, TarifaAhorro, 
	 usuario.Nombre as Propietario, IdConductor, usuario2.Nombre
    FROM tbVehiculo as v
	INNER JOIN seguridad.tbUsuarios usuario
	ON usuario.IdUsuario = v.IdPropietario
	INNER JOIN seguridad.tbUsuarios usuario2
	ON usuario2.IdUsuario = v.IdConductor
	;
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ObtenerVehiculosSinExistenciaHoy]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_ObtenerVehiculosSinExistenciaHoy]
AS
BEGIN
    DECLARE @FechaActual DATE = GETDATE();
    
    -- Consulta para encontrar vehículos sin existencia para el día actual
    SELECT IdVehiculo, us.Imagen as ImagenUsuario, v.Imagen as ImagenVehiculo, Anio, Placa, TarifaDiaria, TarifaAhorro, us.Nombre
    FROM tbVehiculo v
	Inner Join seguridad.tbUsuarios us on
	v.IdConductor = us.IdUsuario
    WHERE IdVehiculo NOT IN (
        SELECT DISTINCT IdVehiculo
        FROM tbTransacciones
        WHERE FechaTransaccion = @FechaActual
    );
END
GO
/****** Object:  StoredProcedure [dbo].[PR_ResumenTotal]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[PR_ResumenTotal]
as
begin
SELECT 
    IdVehiculo,
     SUM(TarifaDiaria) AS IngresosTotales,
    SUM(TarifaAhorro) AS AhorroTotal,
    COUNT(*) AS DiasTrabajados,
	DATEDIFF(day, MIN(FechaTransaccion), MAX(FechaTransaccion)) + 1 AS TotalDias

FROM 
    tbTransacciones
GROUP BY 
    IdVehiculo
ORDER BY 
    IdVehiculo;
end

GO
/****** Object:  StoredProcedure [dbo].[PR_ro-EnRevisionEliminar]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PR_ro-EnRevisionEliminar]
as
begin
SET DATEFIRST 1 
SELECT vehiculo.TarifaDiaria, vehiculo.TarifaAhorro, DiferenciaEnDias * (vehiculo.TarifaDiaria + vehiculo.TarifaAhorro), DiferenciaEnDias  FROM (
	SELECT IdTransaccion, Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, IdUsuario, FechaTransaccion, Confirmada,
		DATEDIFF(day, 
			CASE 
				WHEN DATENAME(weekday, FechaTransaccion) = 'Sunday' THEN DATEADD(day, -1, FechaTransaccion) 
				ELSE FechaTransaccion 
			END, 
			GETDATE()) - 
		(DATEDIFF(week, 
			CASE 
				WHEN DATENAME(weekday, FechaTransaccion) = 'Sunday' THEN DATEADD(day, -1, FechaTransaccion) 
				ELSE FechaTransaccion 
			END, 
			GETDATE()) * 1) AS DiferenciaEnDias
	FROM tbTransacciones transaccion
	WHERE 
		(DATENAME(weekday, FechaTransaccion) != 'Sunday' OR DATEDIFF(day, FechaTransaccion, GETDATE()) = 0) -- Excluir domingos a menos que sea la transacción de hoy
	) AS Atransaccion
INNER JOIN tbVehiculo vehiculo
ON vehiculo.IdVehiculo = Atransaccion.IdVehiculo
ORDER BY FechaTransaccion DESC

end
GO
/****** Object:  StoredProcedure [dbo].[PR_TransaccionTarifaNoPagada]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_TransaccionTarifaNoPagada]
    @IdVehiculo INT,
	@FechaTransaccion Date,
	@FechaTransaccionHasta Date = NULL
AS
BEGIN

    -- Verificar si hay una transacción para el vehículo habilitado con el ID proporcionado
    -- Insertar una nueva transacción si no hay ninguna para el día actual
    
    INSERT INTO tbTransacciones (Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, FechaTransaccion, FechaTransaccionHasta, FechaCreacion, Confirmada, IdTipoTransaccion, UltimaSuma)
    SELECT NULL, 0, 0, @IdVehiculo, @FechaTransaccion, ISNULL(@FechaTransaccionHasta, @FechaTransaccion), GETDATE(), 1, 1, ISNULL((SELECT TOP 1 UltimaSuma 
                                                                  FROM tbTransacciones t 
                                                                  WHERE t.IdVehiculo = @IdVehiculo
                                                                  AND CAST(t.FechaTransaccionHasta AS DATE) = CAST(DATEADD(day, -1, GETDATE()) AS DATE)
                                                                  ORDER BY FechaTransaccionHasta DESC), 0) + (v.TarifaDiaria + v.TarifaAhorro)
    FROM tbvehiculo v
    WHERE v.Inhabilitado = 0
    AND v.IdVehiculo = @IdVehiculo
    AND NOT EXISTS (
        SELECT 1
        FROM tbTransacciones t
        WHERE t.IdVehiculo = @IdVehiculo
        AND CAST(t.FechaTransaccion AS DATE) = CAST(GETDATE() AS DATE)
    );

END
GO
/****** Object:  StoredProcedure [dbo].[PR_TransaccionTarifaNoPagadaDos-EnRevisionEliminar]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[PR_TransaccionTarifaNoPagadaDos-EnRevisionEliminar]
    @IdVehiculo INT,
	@FechaTransaccion Date,
	@FechaTransaccionHasta Date = NULL
AS
BEGIN

    -- Verificar si hay una transacción para el vehículo habilitado con el ID proporcionado
    -- Insertar una nueva transacción si no hay ninguna para el día actual
    
    INSERT INTO tbTransacciones (Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, FechaTransaccion, FechaTransaccionHasta, FechaCreacion, Confirmada, IdTipoTransaccion, UltimaSuma)
    SELECT NULL, 0, 0, @IdVehiculo, @FechaTransaccion, ISNULL(@FechaTransaccionHasta, @FechaTransaccion), GETDATE(), 0, 1, ISNULL((SELECT TOP 1 UltimaSuma 
                                                                  FROM tbTransacciones t 
                                                                  WHERE t.IdVehiculo = @IdVehiculo
                                                                  AND CAST(t.FechaTransaccionHasta AS DATE) = CAST(DATEADD(day, -1, GETDATE()) AS DATE)
                                                                  ORDER BY FechaTransaccionHasta DESC), 0) + (v.TarifaDiaria + v.TarifaAhorro)
    FROM tbvehiculo v
    WHERE v.Inhabilitado = 0
    AND v.IdVehiculo = @IdVehiculo
    AND NOT EXISTS (
        SELECT 1
        FROM tbTransacciones t
        WHERE t.IdVehiculo = @IdVehiculo
        AND CAST(t.FechaTransaccion AS DATE) = CAST(GETDATE() AS DATE)
    );

END
GO
/****** Object:  StoredProcedure [dbo].[PR_TransaccionTarifaNoPagadaNoConfirmada]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[PR_TransaccionTarifaNoPagadaNoConfirmada]
    @IdVehiculo INT,
	@FechaTransaccion Date,
	@FechaTransaccionHasta Date = NULL
AS
BEGIN

    -- Verificar si hay una transacción para el vehículo habilitado con el ID proporcionado
    -- Insertar una nueva transacción si no hay ninguna para el día actual
    
    INSERT INTO tbTransacciones (Imagen, TarifaDiaria, TarifaAhorro, IdVehiculo, FechaTransaccion, FechaTransaccionHasta, FechaCreacion, Confirmada, IdTipoTransaccion, UltimaSuma)
    SELECT NULL, 0, 0, @IdVehiculo, @FechaTransaccion, ISNULL(@FechaTransaccionHasta, @FechaTransaccion), GETDATE(), 0, 1, ISNULL((SELECT TOP 1 UltimaSuma 
                                                                  FROM tbTransacciones t 
                                                                  WHERE t.IdVehiculo = @IdVehiculo
                                                                  AND CAST(t.FechaTransaccionHasta AS DATE) = CAST(DATEADD(day, -1, GETDATE()) AS DATE)
                                                                  ORDER BY FechaTransaccionHasta DESC), 0) + (v.TarifaDiaria + v.TarifaAhorro)
    FROM tbvehiculo v
    WHERE v.Inhabilitado = 0
    AND v.IdVehiculo = @IdVehiculo
    AND NOT EXISTS (
        SELECT 1
        FROM tbTransacciones t
        WHERE t.IdVehiculo = @IdVehiculo
        AND CAST(t.FechaTransaccion AS DATE) = CAST(GETDATE() AS DATE)
    );

END
GO
/****** Object:  StoredProcedure [dbo].[PR_VerificandoUsuario]    Script Date: 19/02/2025 14:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[PR_VerificandoUsuario]
@usuario varchar(100),
@password varchar(100)
as
begin

SELECT TOP 1 
[IdUsuario], [Imagen], usuario.[IdRol], rol.[nombre] as NombreRol, [Usuario], [Password], usuario.[Nombre], [Identidad], [Cuenta], [EstaActivo]
FROM [seguridad].[tbUsuarios] usuario
INNER JOIN [seguridad].[tbRol] rol
ON	usuario.IdRol = rol.IdRol

WHERE usuario.Usuario = @usuario and usuario.Password =@password 

end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del detalle del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'IdDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del remitente del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'SenderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del destinatario del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'ReceiverId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del grupo (si aplica) al que pertenece el mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'GroupId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha y hora del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'Timestamp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del mensaje al que pertenece este detalle.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'IdMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el mensaje ha sido leído (1) o no (0).' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail', @level2type=N'COLUMN',@level2name=N'IsRead'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena los detalles de los mensajes entre usuarios o grupos, incluyendo remitente, destinatario, fecha, mensaje y estado de lectura.

' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbMessage', @level2type=N'COLUMN',@level2name=N'IdMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción o contenido del mensaje.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbMessage', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el mensaje ha sido leído (1) o no (0).
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbMessage', @level2type=N'COLUMN',@level2name=N'IsRead'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha y hora del mensaje.' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbMessage', @level2type=N'COLUMN',@level2name=N'Time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'almacena los mensajes enviados en el sistema.' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único de la etiqueta.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbTagUsuario', @level2type=N'COLUMN',@level2name=N'IdTag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que se le asigna la etiqueta.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbTagUsuario', @level2type=N'COLUMN',@level2name=N'IdUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la etiqueta.
' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbTagUsuario', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si la etiqueta ha sido eliminada (1) o no (0).' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbTagUsuario', @level2type=N'COLUMN',@level2name=N'EsEliminado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena las etiquetas que los usuarios asignan a elementos, asociadas a un usuario y con estado de eliminación.

' , @level0type=N'SCHEMA',@level0name=N'chat', @level1type=N'TABLE',@level1name=N'tbTagUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra el historial de mantenimiento de los vehículos, incluyendo fecha, tipo de mantenimiento, vehículo, kilometraje y costo.

' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbHistorialMantenimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'IdServicios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del tipo de servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'IdTipoServicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rutas de las imágenes relacionadas con el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Imagenes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Título o encabezado del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Titulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción detallada del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se realizó el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'FechaServicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del vehículo al que se le realizó el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'IdVehiculo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Millaje del vehículo al momento del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'MillajeVehiculo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Millaje recomendado para el próximo servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'ProximoMillaje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Costo total del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'CostoTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Marca del vehículo al que se le realizó el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Marca'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del tipo de mantenimiento.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'IdTipoMantenimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha recomendada para el próximo mantenimiento.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'ProximaFechaMantenimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el servicio es recurrente (1) o no (0).
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'EsRecurrente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la ubicación en el automóvil.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'IdUbicacionEnAutomovil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Precio de la mano de obra para el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'PrecioManoObra'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el servicio ha sido confirmado (1) o no (0).
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Confirmado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Viáticos relacionados con el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'Viaticos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad monetaria involucrada en la mano de obra.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios', @level2type=N'COLUMN',@level2name=N'ManoObraPersonal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra los servicios realizados a los vehículos.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios_tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdServicios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la transacción relacionada con el servicio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios_tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Relaciona los servicios realizados con las transacciones en las que se incluyeron.

' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbServicios_tbTransacciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del tipo de mantenimiento.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoMantenimientos', @level2type=N'COLUMN',@level2name=N'IdTipoMantenimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre o descripción del tipo de mantenimiento.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoMantenimientos', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los diferentes tipos de mantenimiento vehicular.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoMantenimientos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del tipo de servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios', @level2type=N'COLUMN',@level2name=N'IdTipoServicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre o descripción del tipo de servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Millaje recomendado para realizar el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios', @level2type=N'COLUMN',@level2name=N'MillajeCambioRecomendado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kilometraje recomendado para realizar el servicio.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios', @level2type=N'COLUMN',@level2name=N'KilometrajeCambioRecomendado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Intervalo en meses recomendado para realizar el servicio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios', @level2type=N'COLUMN',@level2name=N'Meses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los diferentes tipos de servicios vehiculares.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoServicios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del tipo de transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoTransaccion', @level2type=N'COLUMN',@level2name=N'IdTipoTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre o descripción del tipo de transacción.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoTransaccion', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los diferentes tipos de transacciones registradas en el sistema.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTipoTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único de la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ruta de la imagen relacionada con la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'Imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa diaria aplicada en la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'TarifaDiaria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa con descuento aplicada en la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'TarifaAhorro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del vehículo relacionado con la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdVehiculo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que realizó la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de inicio de la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'FechaTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de fin de la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'FechaTransaccionHasta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si la transacción ha sido confirmada (1) o no (0).
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'Confirmada'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Última suma o total relacionado con la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'UltimaSuma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Comentario o notas sobre la transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'Comentario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del tipo de transacción.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'IdTipoTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creación del registro de la transacción.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones', @level2type=N'COLUMN',@level2name=N'FechaCreacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra las transacciones realizadas en cuotas diarias y servicios.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbTransacciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único de la ubicación en el automóvil.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbUbicacionEnAutomovil', @level2type=N'COLUMN',@level2name=N'IdUbicacionEnAutomovil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción de la ubicación en el automóvil.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbUbicacionEnAutomovil', @level2type=N'COLUMN',@level2name=N'Ubicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene las diferentes ubicaciones dentro de un automóvil para identificar donde se encuentran las piezas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbUbicacionEnAutomovil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'IdVehiculo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Marca del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Marca'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modelo del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Modelo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Color del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Color'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Año de fabricación del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Anio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número de identificación del vehículo (VIN).
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'VIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número de placa del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Placa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kilometraje total del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Kilometraje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Millaje total del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Millaje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Millaje actual del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'MillajeActual'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa diaria de alquiler del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'TarifaDiaria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de alquiler con descuento.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'TarifaAhorro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de aceite recomendado para el vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'TipoAceite'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del propietario del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'IdPropietario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del conductor del vehículo.
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'IdConductor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el vehículo está inhabilitado (1) o no (0).
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Inhabilitado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ruta de la imagen del vehículo.

Exportar a Hojas de cálculo
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo', @level2type=N'COLUMN',@level2name=N'Imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena la información de los vehículos.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbVehiculo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Define los roles de usuario en el sistema (ej: "Administrador", "Usuario"), cada uno con un identificador y nombre.

' , @level0type=N'SCHEMA',@level0name=N'seguridad', @level1type=N'TABLE',@level1name=N'tbRol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena la información de los usuarios del sistema, incluyendo datos personales y de acceso.' , @level0type=N'SCHEMA',@level0name=N'seguridad', @level1type=N'TABLE',@level1name=N'tbUsuarios'
GO
USE [master]
GO
