@using System.Security.Claims;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>PaseoExpressWebApp</PageTitle>

@*mud*@
@* Required *@
<MudThemeProvider />
@*<MudPopoverProvider />*@

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">
    <div class="sidebar mud-theme-primary">
        <NavMenu />
    </div>

    <main class="bg-primario-claro">
        <div class="top-row px-4">
            <div class="d-flex align-items-center">
                <p class="mb-0 me-2">@userName</p>
                <img src="@imagen" class="img-fluid rounded-lg" alt="Imagen" width="40" height="40" />
            </div>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? userName;
    private string? imagen;

    protected override async Task OnInitializedAsync()
    {
        // Obtener el estado de autenticación
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value;
        imagen = authState.User.FindFirst(c => c.Type == "Imagen")?.Value;
        var user = authState.User;



    }
    }