.chat-container {
    max-width: 500px; /* Ancho máximo del contenedor del chat */
    margin: 20px auto; /* Centrar el contenedor */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    clear: both; /* Evitar que los elementos flotantes afecten el diseño */
}

    .message.user {
        background-color: #e0f2f7; /* Color de mensaje del usuario */
        float: left; /* Alinear a la izquierda */
    }

    .message.bot {
        background-color: #f0f0f0; /* Color de mensaje del bot */
        float: right; /* Alinear a la derecha */
    }

.message-time {
    font-size: small;
    color: #999;
    margin-top: 5px;
    text-align: right;
}

.refund-info {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.input-area {
    margin-top: 20px;
}























.punto-amarillo {
    display: inline-block; /* Para que se comporte como un elemento en línea pero con propiedades de bloque */
    width: 10px; /* Ancho del círculo */
    height: 10px; /* Alto del círculo */
    border-radius: 50%; /* Para hacerlo circular */
    background-color: yellow; /* Color amarillo */
    margin-left: 8px; /* Espacio a la izquierda, similar a la imagen */
}